@import "../components/variables";
@import "../components/text";

.small-col {
  width: 400px;
}

.slick-dots{
  width:100%;
  padding:0px;
  margin: 0px 0px 30px;
  list-style-type:none;
  text-align:center;
}

.slick-dots li{
  display:inline-block;
  width:15px;
  height:15px;
  background:Transparent;
  -webkit-transition:all 0.5s;
  transition:all 0.5s;
  -webkit-border-radius:50%;
  border-radius:50%;
  border: 2px solid #3A3258;
  margin:0 2.5px;
  cursor:pointer;
  position:relative;
}

.slick-dots li.slick-active{
  background:#7750F8;
  -webkit-box-shadow:inset 0 0 0 2px rgba(0,0,0,.28);
  box-shadow:inset 0 0 0 2px rgba(0,0,0,.28);
}

.slick-dots li button{
  position:absolute;
  bottom:100%;
  left:50%;
  width:120px;
  height:75px;
  display:block;
  visibility:hidden;
  border:4px solid rgba(0,0,0,.50);
  margin-left:-60px;
  margin-bottom:15px;
  -webkit-transition:visibility 0.5s linear 0.5s;
  transition:visibility 0.5s linear 0.5s;
  -webkit-animation:fadeOut 0.5s both;
  animation:fadeOut 0.5s both;
}
