.levels-list {
    overflow: auto;
    white-space: nowrap;

    .star-container {
        .star {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            @extend .text-glow-yellow;

            &:before {
                content: "";
                background-image: url("../../images/achievements/star.svg");
                position: absolute;
                background-size: 60px 60px;
                display: inline-block;
                width: 60px;
                height: 60px;
            }
        }
    }

    .level-container {
        white-space: initial;
        display: inline-block;
        width: calc(95% / 5);
        margin: 0 1% 0 0;
        margin-bottom: 20px;

        &:last-child {
            margin: 0;
        }

        .content {
            background-color: $dark;
            border-radius: $border-radius-lg;
            padding: 20px 30px;
            border: 2px solid transparent;

            .title {
                font-size: $h5-font-size;
            }

            &.current {
                border: 2px solid $yellow;
                @include block-shadow($yellow);
            }

            &.disabled {
                filter: grayscale(1);
                opacity: 0.6;
            }
        }
    }

    @include media-breakpoint-down(xxl) {
        .level-container {
            width: calc(96% / 4);

            .content {
                padding: 10px 0;
            }
        }
    }
    @include media-breakpoint-down(xl) {
        .level-container {
            width: calc(97% / 3);

            .content {
                padding: 10px 0;
            }
        }
    }
    @include media-breakpoint-down(lg) {
        .level-container {
            width: calc(97% / 3);

            .content {
                padding: 10px 0;

                &.current {
                    border: 1.5px solid $yellow;
                    @include block-shadow($yellow);
                }

                .title {
                    font-size: 10px;
                }

                .text {
                    font-size: 8px;
                    line-height: 1em;
                }

                .achievement-image {
                    width: 38px;
                    height: 38px;
                    border-width: 2px;
                }
            }
        }
        .star-container {
            font-size: 8px;

            .star {
                &:before {
                    content: "";
                    background-image: url("../../images/achievements/star.svg");
                    position: absolute;
                    background-size: 35px 35px;
                    display: inline-block;
                    width: 35px;
                    height: 35px;
                }
            }
        }
    }
}

.scroll-container {
    overflow-x: auto;
    white-space: nowrap;
}

.quest {
    position: relative;
    z-index: 2;
    width: calc(97% / 3);
    margin: 0 1% 0 0;

    display: inline-block;
    float: none;

    .title {
        font-size: $h5-font-size;
    }
    .subtitle {
        font-size: $h6-font-size;
    }
    .xp-container {
        display: flex;
        align-items: center;
        .text {
            font-size: $h5-font-size;
        }
        .custom-icon {
            width: 30px;
            height: 30px;
        }
    }

    &:last-child {
        margin-right: 0;
    }

    &::after {
        content: "";
        background: rgba($dark, 0.8) url("../../images/achievements/violet.png") no-repeat center;
        background-blend-mode: overlay;
        background-size: cover;
        border-radius: $border-radius-lg;
        opacity: 0.2;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -2;
    }

    .check-item {
        white-space: initial;
        .text {
            font-size: $h5-font-size;
        }
        .check-icon-container {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            border: 2px solid $light-dark;
            @include media-breakpoint-down(sm) {
                width: 12px;
                height: 12px;
            }

            .check-icon {
                color: $dark;
                visibility: hidden;
            }
        }

        &.checked {
            .check-icon-container {
                background: $light-green;
                border: 2px solid transparent;
                @include block-shadow($light-green);
                .material-icons {
                    visibility: visible;
                }
                @include media-breakpoint-down(sm) {
                    .material-icons {
                        font-size: 10px;
                    }
                }
            }
        }
    }

    @include media-breakpoint-down(lg) {
        width: calc(99% / 2);
    }
    @include media-breakpoint-down(sm) {
        width: 100%;
        .check-item {
            .text {
                font-size: $small-font-size;
            }
        }
        .title {
            font-size: $h6-font-size;
        }
        .subtitle {
            font-size: $small-font-size;
        }
        .xp-container {
            .text {
                font-size: $small-font-size;
            }
            .custom-icon {
                width: 24px;
                height: 24px;
            }
        }
    }
}

.achievement {
    position: relative;
    z-index: 2;
    width: calc(96% / 4);
    margin: 0 0.9% 0 0;

    display: inline-block;
    float: none;

    .xp-container {
        display: flex;
        align-items: center;
    }

    &:last-child {
        margin-right: 0;
    }

    &::after {
        content: "";
        background: rgba($dark, 0.8) url("../../images/achievements/violet.png") no-repeat center;
        background-blend-mode: overlay;
        background-size: cover;
        border-radius: $border-radius-lg;
        opacity: 0.2;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -2;
    }

    @include media-breakpoint-down(xxxl) {
        width: calc(96% / 3);
        margin: 0 1% 0 0;
    }
    @include media-breakpoint-down(xl) {
        width: calc(98% / 2);
        margin: 0 1% 0 0;
    }
    @include media-breakpoint-down(xs) {
        width: 100%;
    }
}

.achievement-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    @include media-breakpoint-down(sm) {
        width: 60px;
        height: 60px;
    }

    &.achievement-image-lg {
        width: 140px;
        height: 140px;
        @include media-breakpoint-down(sm) {
            width: 60px;
            height: 60px;
        }
    }

    &.achievement-image-violet {
        border: 3px solid $violet;
        @include block-shadow($violet);
    }

    &.achievement-image-yellow {
        border: 3px solid $yellow;
        @include block-shadow($yellow);
    }
}
