@mixin material-input($color: $primary, $border-color: $light-dark) {
  &.material-input-lg {
    @include media-breakpoint-up(xxxl) {
      height: $input-height-large;
      input {
        line-height: $input-height-large;
      }
      label {
        line-height: calc(#{$input-height-large} - 4px);
      }
    }
  }
  &.material-input-sm {
    height: $input-height-small;
    input {
      line-height: $input-height-small;
    }
    label {
      line-height: calc(#{$input-height-small} - 4px);
    }
  }

  width: 100%;
  color: $light-gray;
  height: $input-height-normal;
  border: 2px solid $border-color;
  border-radius: $border-radius-lg;
  position: relative;
  input {
    padding: 0 20px;
    width: 100%;
    height: 100%;
    line-height: $input-height-normal;
    border: none;
    background-color: transparent;
    color: $light-gray;
    &:focus, &:active {
      border: none;
      outline: none;
    }
  }
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }

  .material-input-icon {
    pointer-events: none;
  }

  label {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    transition: line-height 0.2s, font-size 0.2s;
    width: calc(100% + 4px);
    margin-left: -2px;
    color: $gray-500;
    border-radius: $border-radius-lg;
    font-size: 16px;
    line-height: calc(#{$input-height-normal} - 4px);
    white-space: nowrap;
    text-overflow: ellipsis;
    display: flex;
    height: 100%;
    &:before {
      transition: width 0.2s;
      opacity: 0;
      content: "";
      width: 20px;
      margin-right: 10px;
      display: block;
      border-top-left-radius: $border-radius-lg;
      border-bottom-left-radius: $border-radius-lg;
    }
    &:after {
      opacity: 0;
      content: "";
      width: 100%;
      margin-left: 10px;
      border-top-right-radius: $border-radius-lg;
      border-bottom-right-radius: $border-radius-lg;
      display: block;
    }
  }
  &.icon-prepend {
    padding-left: 26px;
    .material-input-icon-prepend {
      position: absolute;
      top: 50%;
      left: 14px;
      transform: translate(0, -50%);
    }
    label {
      &:before {
        width: 44px;
        @include media-breakpoint-down(sm) {
          width: 50px;
        }
      }
    }
    &.active, &:focus-within {
      .material-input-icon {
        margin-top: 1px;
      }
      &.without-label {
        .material-input-icon {
          margin-top: 0;
        }
      }
      label {
        &:before {
          width: 20px;
        }
      }
    }
  }
  &.icon-append {
    padding-right: 28px;
    .material-input-icon-append {
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translate(0, -50%);
    }
    &.active, &:focus-within {
      .material-input-icon {
        margin-top: 1px;
      }
    }
  }

  &.active {
    border-top: none;
    label {
      font-size: $small-font-size;
      line-height: 1px;
      &:before {
        opacity: 1;
        border-top: 2px solid $border-color;
        border-left: 2px solid $border-color;
      }
      &:after {
        opacity: 1;
        border-top: 2px solid $border-color;
        border-right: 2px solid $border-color;
      }
    }
  }

  &:focus-within {
    border-top: none;
    .material-input-icon {
      color: $color;
      &.custom-icon {
        background: $color;
      }
    }
    border-color: $color;
    @include block-shadow($color);
    label {
      font-size: $small-font-size;
      line-height: 1px;
      &:before {
        opacity: 1;
        border-top: 2px solid $color;
        border-left: 2px solid $color;
      }
      &:after {
        opacity: 1;
        border-top: 2px solid $color;
        border-right: 2px solid $color;
      }
    }
  }
  &.without-label {
    &.active {
      border-top: 2px solid $border-color;
    }
    &:focus-within {
      border-top: 2px solid $color;
    }
  }
}

.material-input {
  @include material-input();
}
.material-input.material-input-primary {
  @include material-input($primary);
}
.material-input.material-input-danger {
  @include material-input($danger);
}
.material-input.material-input-success {
  @include material-input($success);
}
.material-input.material-input-warning {
  @include material-input($warning);
}
.material-input.material-input-info {
  @include material-input($info);
}


