@mixin outlined-nav($color, $bgColor: $dark) {
    background: $bgColor;
    border-radius: $border-radius-lg;
    .nav {
        flex-wrap: nowrap;
        display: flex;

        .badge {
            border-radius: $border-radius-lg;
        }
    }
    .nav-item {
        width: 100%;
        border: 2px solid transparent;
        font-weight: bold;
        font-size: $h5-font-size;
        color: $gray;
        position: relative;

        &:after {
            content: "";
            position: absolute;
            width: calc(100% + 4px);
            left: -2px;
            bottom: -2px;
            border-bottom: 2px solid $color;
        }
        &.active {
            background: $bgColor;
            border-radius: $border-radius-lg $border-radius-lg 0 0;
            border: 2px solid $color;
            border-bottom: none;
            @include text-glow-mixin($color);
            &:after {
                display: none;
            }
        }

        @include media-breakpoint-down(lg) {
            font-size: $h6-font-size;
        }

        @include media-breakpoint-down(md) {
          font-size: $small-font-size;
        }
    }

    .tab-content {
        border: 2px solid $color;
        border-top: none;
        border-radius: 0 0 $border-radius-md $border-radius-md;
        padding: 30px;
        .heading {
            font-size: $h3-font-size;
        }
        .text {
            font-size: $h6-font-size;
        }
        @include media-breakpoint-down(md) {
            padding: 20px;
            .heading {
                font-size: $h6-font-size;
            }
            .text {
                font-size: $small-font-size;
            }
        }
    }

    .review {
        border: 2px solid #393052;
        border-radius: $border-radius-lg;
        margin-bottom: 20px;
        .custom-icon {
            width: 22px;
            height: 22px;
        }
        .username {
            font-size: $h5-font-size;
        }
        .text {
            font-size: $h6-font-size;
        }
        &:last-child {
            margin-bottom: 0;
        }
        .control {
            opacity: 0.6;
        }
        @include media-breakpoint-down(md) {
            .user-image {
                width: $user-image-sm-size;
                height: $user-image-sm-size;
            }
            .username {
                font-size: $h6-font-size;
            }
            .text {
                font-size: $small-font-size;
            }
        }
    }
}

.outlined-nav-violet {
    @include outlined-nav($violet);
}

.outlined-nav-green {
    @include outlined-nav($green);
}

.outlined-nav-blue {
    @include outlined-nav($blue);
}

.outlined-nav-yellow {
    @include outlined-nav($yellow);
}

.outlined-nav-light-green {
    @include outlined-nav($light-green);
}

.loading-dots {
    height: 1.5rem;
    width: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
        height: 10px;
        width: 10px;
        background: #303038;
        border-radius: 4px;
        display: block;
        position: relative;
        animation-duration: 1s;
        animation-timing-function: ease-in;
        animation-iteration-count: infinite;
        animation-name: loading-animation__2;

        &::after, &::before {
            content: '';
            height: 10px;
            width: 10px;
            background: #303038;
            border-radius: 4px;
            position: absolute;
            animation-duration: 1s;
            animation-timing-function: ease-in;
            animation-iteration-count: infinite;
        }

        &::before {
            left: -1rem;
            animation-name: loading-animation__1;
        }

        &::after {
            right: -1rem;
            animation-name: loading-animation__3;
        }
    }

}

@keyframes loading-animation__1 {
    0%, 70%, 100% { background: rgba(103, 94, 135, 0.9); }
    30% { background: rgba(103, 94, 135, 0.25); }
}

@keyframes loading-animation__2 {
    0%, 15%, 85%, 100% { background: rgba(103, 94, 135, 0.9); }
    45% { background: rgba(103, 94, 135, 0.25); }
}

@keyframes loading-animation__3 {
    0%, 30%, 100% { background: rgba(103, 94, 135, 0.9); }
    60% { background: rgba(103, 94, 135, 0.25); }
}
