$dark: #1B1628;
$semi-dark: #231D33;
$light-dark: rgba(57, 48, 82, 0.95);
$green: #40D04F;
$light-green: #AEFF01;
$violet: #7750F8;
$yellow: #FFC701;
$orange: #FF9901;
$blue: #56CCF2;
$red: #DE0404;
$light-red: #DB214D;
$gray: rgba(#fff, 0.5);
$light-gray: rgba(#fff, 0.7);

$border-radius-md: 8px;
$border-radius-lg: 10px;

$input-height-extra-small: 35px;
$input-height-small: 40px;
$input-height-normal: 50px;
$input-height-large: 64px;
